<?xml version="1.0" encoding="UTF-8"?>
<!-- The scan attribute controls automatic reloading of configuration file upon modification. -->
<configuration scan="false">
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <port>514</port>
        <facility>USER</facility>
        <suffixPattern>%date [%level] [%logger{0}] %message%n</suffixPattern>
    </appender>
    <root level="info">
        <appender-ref ref="SYSLOG"/>
    </root>
</configuration>
