<?xml version="1.0" encoding="UTF-8"?>
<!-- The scan attribute controls automatic reloading of configuration file upon modification. -->
<configuration scan="false">
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level] [%logger{0}] %message%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>
